@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.social {
    padding-bottom: 2rem;
}

.logo {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu {
    color: lightgray;
    outline: none;
}


ul {
    list-style-type: none;
    text-align: center;
    outline: none;
}

li {
    display: inline-block;
    margin: 1rem;
    outline: none;
}

li:hover{
    color: darkorange;
}

a:link, a:visited,  a:active {
    color: lightslategray;
    text-decoration: none;
}

a:hover {
    color:lightsteelblue;
}

.footer {
    padding-top: 10em;
    text-align: center;
    
}

#copyright {
    font-size: xx-small;
}

.bio {
    padding-top: 8rem;

}

#biohead {
    text-align: right;
    color: lightsteelblue;
}

#biotext {
    font-size: small;
    letter-spacing: 2px;
}



.tour{
    padding-top: 8rem;
}
#tourhead {
    color: lightsteelblue;
    text-align: right;
}

#tourtext {
    text-align: center;
}

#datetext {
    color: lightsteelblue;
}

#mediahead {
    padding-top: 8rem;
    text-align: center;
}

.contact {
    padding-top: 8rem;
}

#contacthead {
    color: lightsteelblue;
    text-align: right;
}

#contacttext {
    font-size: small;
    letter-spacing: 2px;
}